html,body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box; 
    overflow-x: hidden;
    background-image: url("../hdwall1.jpg");
    background-size: cover;
    /* font-family: sans-serif; */
}
.navbar{
    background-color: rgb(6, 97, 6);
    color: ivory;  
    
}
.loginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.3);

    border-radius: 4px;
   	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #bdb1b1;
	border-left: 2px solid rgb(167, 148, 236);
}
h2{
    margin: 0;
    padding: 0 0 20px;
    color: rgb(236, 240, 245);
    text-align: center;
}
.loginBox p{
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
}
.loginUser{
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.submit-btn{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: rgb(60, 38, 255);
    cursor: pointer;
    border-radius: 20px;
    width: 100%;

}
.submit-btn:hover{
    background: #efed40;
    color: #262626;
}
.loginBox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 27px;
}
::placeholder{
    color: rgba(255,255,255,0.5);
}
.src{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top:calc(-100px/2);
    /* left:calc(50%-75px); */
    left: 36%;
    border-radius: 50%;
}
footer{
    background-color: rgb(6, 97, 6);
}

